body{
    background: linear-gradient(to right, rgb(255, 255, 255) ,black)
}
#background {
     background-image: url(../assets/background.jpg);
    background-size: cover;
    height: 90vh;
    width: 90vw;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 15px;
}
  

